<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YemekTarifSistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YemekTarifSistemi.styles.css" asp-append-version="true" />
    <style>
        button:focus {
            outline: 0;
        }

        .navbar .dropdown-menu .form-control {
            width: 200px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Yemek Tarifleri</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            YemektarifleriDbContext db = new YemektarifleriDbContext();
                            var ustMenu = db.Menulers.Where(menu => menu.UstId == null && menu.Silindi == false && menu.Aktif == true).OrderBy(e => e.Sira).ToList();
                            foreach (var item in ustMenu)
                            {
                                var altMenu = db.Menulers.Where(menu => menu.UstId == item.MenuId && menu.Silindi == false && menu.Aktif == true).OrderBy(e => e.Sira).ToList();
                                if (altMenu.Count == 0)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@item.Url">@item.Baslik</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" @item.MenuId aria-expanded="false">
                                            @item.Baslik
                                        </a>
                                        <div class="dropdown-menu">
                                            @foreach (var item2 in altMenu)
                                            {
                                                <a class="dropdown-item" href="@item2.Url">@item2.Baslik</a>
                                            }
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                    <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                        <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
                        <li class="dropdown order-1">

                            @using System.Security.Claims;
                            @{
                                try
                                {
                                    string kuladi = User.FindFirstValue(ClaimTypes.Email).ToString();

                                <li>
                                    <div class="form-group">
                                        <small>
                                            Hoşgeldiniz @kuladi
                                            <a href="/Giris/CikisYap" onclick="return confirm('Çıkış yapmak istiyor musun?')'">Çıkış</a>
                                        </small>
                                    </div>
                                </li>
                                }
                                catch
                                {
                                <button type="button" id="dropdownMenu1" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-end mt-1">
                                    <li class="p-3">
                                        <form class="form" role="form" method="post" action="/Giris/GirisYap">
                                            <div class="form-group">
                                                <input id="Eposta" name="Eposta" placeholder="Email" class="form-control form-control-sm" type="text">
                                            </div>
                                            <div class="form-group">
                                                <input id="Parola" name="Parola" placeholder="Şifre" class="form-control form-control-sm" type="text">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Giriş</button>
                                            </div>
                                            <div class="form-group text-xs-center">
                                                <small><a href="#">Şifremi Unuttum</a></small>
                                                <small><a href="#">Kayıt Ol</a></small>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                                }
                            }

                    </ul>
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - YemekTarifleri - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
